<header>
  <div class="container py-1">
    <div class="col-4 mx-auto text-center">
      <h5>Nutrición</h5>
    </div>
  </div>
</header>

<body>
  <form>
    <div class="col-12 mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
            <!--field div-->

            <!-- NUTRICIÓN NU1 ¿Cuáles de los siguientes alimentos consumen en su hogar? ¿Con qué
frecuencia los consumen? ¿Qué miembros de su hogar los consumen? Marque todos
los alimentos que apliquen, cada cuánto los consumen y quiénes los consumen -->

            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >¿Cuáles de los siguientes alimentos consumen en su hogar?
                      ¿Con qué frecuencia los consumen? ¿Qué miembros de su
                      hogar los consumen? Marque todos los alimentos que
                      apliquen, cada cuánto los consumen y quiénes los
                      consumen</small
                    >

                    <div class="table-responsive">
                      <table class="table table-sm table-striped">
                        <!-- <caption>
                          Footer note
                        </caption> -->
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"><small>Todos los días</small></th>
                            <th scope="col">
                              <small>3 veces por semana</small>
                            </th>
                            <th scope="col">
                              <small>2 veces por semana</small>
                            </th>
                            <th scope="col"><small>Muy rara vez</small></th>
                            <th scope="col"><small>Nunca</small></th>
                            <th scope="col"><small>Adultos</small></th>
                            <th scope="col"><small>Niños</small></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Granos, Cereales, Tubérculos</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a2"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a3"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a4"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a5"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a6"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a7"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">1</th>
                            <td>Verduras/Hierbas</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a2"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a3"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a4"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a5"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a6"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a7"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">1</th>
                            <td>Frutas</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a2"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a3"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a4"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a5"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a6"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a7"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">1</th>
                            <td>Leche y huevos</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a2"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a3"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a4"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a5"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a6"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a7"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">1</th>
                            <td>Carne</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a2"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a3"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="SG12"
                                  id="SG12"
                                  value="a4"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a5"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a6"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="SG12"
                                  id="SG12"
                                  value="a7"
                                />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 1 En los últimos 3 meses, por falta de dinero u otros recursos, alguna vez
            ¿Usted se preocupó de que los alimentos se acabaran en su hogar? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Usted se preocupó de que los
                      alimentos se acabaran en su hogar?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 2 En los últimos 3 meses, por falta de dinero u otros recursos, alguna vez ¿En su hogar
            se quedaron sin alimentos? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿En su hogar se quedaron sin
                      alimentos?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 3 En los últimos 3 meses, por falta de dinero u otros
            recursos, alguna vez ¿En su hogar dejaron de tener una alimentación saludable y
            balanceada? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿En su hogar dejaron de tener una
                      alimentación saludable y balanceada?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 4 En los últimos 3 meses, por falta de dinero u otros recursos,
            alguna vez ¿Usted o algún adulto en su hogar tuvo una alimentación basada en
            poca variedad de alimentos? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Usted o algún adulto en su hogar
                      tuvo una alimentación basada en poca variedad de
                      alimentos?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!--  5 En los últimos 3 meses, por falta de dinero u
otros recursos, alguna vez ¿Usted o algún adulto en su hogar dejó de desayunar,
almorzar o cenar? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Usted o algún adulto en su hogar
                      dejó de desayunar, almorzar o cenar?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!--  6 En los últimos 3 meses, por falta de dinero u otros
recursos, alguna vez ¿Usted o algún adulto en su hogar comió menos de lo que
debía comer? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Usted o algún adulto en su hogar
                      comió menos de lo que debía comer?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- field div -->
            <!-- 7 En los últimos 3 meses, por falta de dinero u otros recursos,
            alguna vez ¿Usted o algún adulto en su hogar sintió hambre pero no comió? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Usted o algún adulto en su hogar
                      sintió hambre pero no comió?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 8 En los últimos 3 meses, por falta de dinero u otros recursos, alguna vez ¿Usted o
            algún adulto en su hogar solo comió una vez al día o dejó de comer todo un día? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Usted o algún adulto en su hogar
                      solo comió una vez al día o dejó de comer todo un día?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 9 En los últimos 3 meses, por falta de dinero u otros recursos, alguna vez
¿Algún menor de 18 años en su hogar dejó de tener una alimentación saludable y
balanceada? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Algún menor de 18 años en su hogar
                      dejó de tener una alimentación saludable y balanceada?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 10 En los últimos 3 meses, por falta de dinero u otros recursos,
alguna vez ¿Algún menor de 18 años en su hogar tuvo una alimentación basada en
poca variedad de alimentos? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Algún menor de 18 años en su hogar
                      tuvo una alimentación basada en poca variedad de
                      alimentos?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 11 En los últimos 3 meses, por falta de dinero u
otros recursos, alguna vez ¿Algún menor de 18 años en su hogar dejó de
desayunar, almorzar o cenar? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Algún menor de 18 años en su hogar
                      dejó de desayunar, almorzar o cenar?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 12 En los últimos 3 meses, por falta de dinero u
otros recursos, alguna vez ¿Algún menor de 18 años en su hogar comió menos de lo
que debía? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Algún menor de 18 años en su hogar
                      comió menos de lo que debía?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- 13 En los últimos 3 meses, por falta de dinero u otros recursos,
alguna vez ¿Tuvieron que disminuir la cantidad servida en las comidas a algún
menor de 18 años en su hogar? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Tuvieron que disminuir la cantidad
                      servida en las comidas a algún menor de 18 años en su
                      hogar?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!--  14 En los últimos 3 meses, por falta de dinero u
            otros recursos, alguna vez ¿Algún menor de 18 años en su hogar sintió hambre
            pero no comió? -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >En los últimos 3 meses, por falta de dinero u otros
                      recursos, alguna vez ¿Algún menor de 18 años en su hogar
                      sintió hambre pero no comió?
                    </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            Si
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="SG16"
                            id="SG16"
                          />
                          <label class="form-check-label" for="SG16">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 text-center">
      <button
        class="btn btn-lg btn-submit text-uppercase align-center"
        type="submit"
      >
        CONTINUAR
      </button>
    </div>
  </form>
  <div>
    <br />
    <br />
    <br />
    <br />
  </div>
</body>
