SALUD GENERAL DE SU FAMILIA
SG1 ¿Usted y su familia llevan un control médico anual?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SG2 ¿Alguien de la familia consume licor frecuentemente?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SG3 ¿Alguien de la familia fuma cigarrillos frecuentemente?
Marque con una “X” la respuesta que aplique
1. Sí CONTINÚE 2. No PASE A SG5
SG4 ¿Esta persona fuma cigarrillos dentro del hogar en presencia de otros miembros de la familia?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SG5 ¿A dónde van los adultos cuando se enferman?
Marque con una “X” la respuesta que aplique
1. Hospital público 7. IGSS
2. Hospital privado 8. Comadrona
3. Clínica médica privada 9. Seguro médico de la empresa
4. Centro de salud 10. Clínica médica de la empresa
5. Farmacia 11. Otros Especifique:
6. Aprofam
SG6 ¿Con qué frecuencia visitan usted y su familia al dentista?
Marque con una “X” la respuesta que aplique
1. Hace menos de 1 mes 4. Hace más de 1 año
2. Hace más de 1 mes y menos de 6 meses 5. Nunca ha ido
3. Hace más de 6 meses y menos de 1 año
SG7 ¿Con qué frecuencia visitan usted y su familia al oculista?
Marque con una “X” la respuesta que aplique
1. Hace menos de 1 mes 4. Hace más de 1 año
2. Hace más de 1 mes y menos de 6 meses 5. Nunca ha ido
3. Hace más de 6 meses y menos de 1 año
SG8 ¿Algún miembro de su familia utiliza lentes?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SG9 ¿Algún miembro del hogar padece de obesidad?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SG10 ¿Algún miembro del hogar padece de anemia?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SG11 ¿Algún miembro del hogar padece de desnutrición?
Marque con una “X” la respuesta que aplique
1. Sí 2. No