SALUD DE LOS MENORES EN SU HOGAR
SM1 ¿Hay niños menores de 7 años en su hogar?
Marque con una “X” la respuesta que aplique
1. Sí CONTINÚE 2. No PASE A SG1
SM2 ¿Los menores que viven en su hogar cuentan con control de peso y talla?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SM3 ¿Cuentan con carnet de vacunación?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SM4 ¿Alguno de los niños menores de 7 años ha padecido de alguna de estas enfermedades?
Marque con una “X” todas las respuestas que apliquen
1. Difteria 7. Infecciones por neumococo 13. Tétano
2. Influenza Tipo A 8. Paperas 14. Tos ferina
3. Influenza Tipo B 9. Polio 15. Varicela
4. Hepatitis A 10. Rotavirus 16. Virus del papiloma humano
5. Hepatitis B 11. Rubéola 17. Ninguna
6. Infecciones por meningococo 12. Sarampión
SM5 ¿En su hogar las madres con niños menores de 2 años brindan o han brindado lactancia materna a los niños?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SM6 ¿Alguno de los niños menores de 7 años de su hogar ha tenido diarrea en los últimos 15 días?
Marque con una “X” la respuesta que aplique
1. Sí 2. No
SM7 ¿Cuántas veces al año considera que los niños menores de 7 años de su hogar se enferman de problemas
respiratorios?
Ingrese su respuesta utilizando únicamente números
SM8 ¿A dónde llevan a los niños menores de 7 años de su hogar cuando se enferman?
Marque con una “X” la respuesta que aplique
1. Hospital público 7. IGSS
2. Hospital privado 8. Comadrona
3. Clínica médica privada 9. Seguro médico de la empresa
4. Centro de salud 10. Clínica médica de la empresa
5. Farmacia 11. Otros Especifique:
6. Aprofam
SM9 ¿En su familia ha fallecido algún niño menor de 7 años?
Marque con una “X” la respuesta que aplique
1. Sí 2. No