

SV1 ¿Tiene necesidad de alquilar o prestar una segunda vivienda?
Marque con una “X” la respuesta que aplique
1. Sí CONTINÚE 2. No PASE A SM1

SV2 ¿Cuál es la principal razón por la que alquila o presta una segunda vivienda?
Marque con una “X” la respuesta que aplique
1. Estudio 4. Separación familiar
2. Trabajo 5. Otros Especifique:
3. Distancia / tráfico 6. Otros Especifique:

SV3 ¿Con quiénes alquila o presta una segunda vivienda?
Marque con una “X” todas las respuestas que apliquen
1. Sólo 4. Con compañeros de estudio
2. Con compañeros de trabajo 5. Otros Especifique:
3. Con familiares 6. Otros Especifique:

SV4 ¿Cuántas personas viven ahí?
Ingrese su respuesta utilizando únicamente números

SV5 ¿Qué espacio ocupa en la segunda vivienda?
Marque con una “X” la respuesta que aplique
1. Una habitación sólo 3. Apartamento / Casa sólo
2. Una habitación compartida 4. Apartamento / Casa compartida

SV6 ¿Cuánto aporta en Quetzales para el arrendamiento/alquiler de la vivienda adicional?
Ingrese su respuesta utilizando únicamente números

SV7 ¿Cuál es la dirección de la segunda vivienda? Ingrese su respuesta.