
<header>
    <div class="container py-5">
        <div class="col-4 mx-auto text-center">

            <h5>Datos Personales</h5>
            <p>
            Por favor complete los siguientes datos. Si
            algún dato no aplica por favor deje en blanco
            la casilla.
            </p>
        </div>
    </div>
</header>

<body>
    <div class="col-12 mx-auto">


        <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
                <div class="card card-signin">
                  <div class="card-body">

        <form class="form-signin">

            <div class="form-group">
                <div class="container py-1">
                    
                    <select class="form-select" aria-label="Seleccione su centro:">
                        <option selected>Seleccione su centro:</option>
                        <option value="1">Atanasio</option>
                        <option value="2">Camojá</option>
                        <option value="3">Chiquimula</option>

                        <option value="4">Chiquimulilla</option>
                        <option value="5">Coatepeque</option>
                        <option value="6">Cobán</option>
                        <option value="7">Cocales</option>
                        <option value="8">Cunen</option>
                        <option value="9">Cuyotenango</option>


                        <option value="10">Distribuidora Modelo</option>
                        <option value="11">Distribuidora Porras</option>
                        <option value="12">El Naranjo</option>
                        <option value="13">Encuentros</option>
                        <option value="14">Escuintla</option>
                        <option value="15">Esquipulas</option>
                        <option value="16">Huehuetenango</option>
                        <option value="17">Jalapa</option>
                        <option value="18">Jutiapa</option>
                        <option value="19">Las Casas</option>
                        <option value="20">Monte María</option>
                        <option value="21">Morales</option>
                        <option value="22">Planta Cuyo</option>
                        <option value="23">Planta Mariposa</option>
                        <option value="24">Playa Grande</option>
                        <option value="25">Polochic</option>
                        <option value="26">Poptún</option>
                        <option value="27">Progreso</option>
                        <option value="28">Quetzaltenango</option>
                        <option value="29">Quiché</option>
                        <option value="30">Salamá</option>
                        <option value="31">San Benito</option>
                        <option value="32">San Marcos</option>
                        <option value="33">Soloma</option>
                        <option value="34">Villa Nueva</option>
                        <option value="35">Zacapa</option>
                        <option value="36">Zona Pradera</option>
                      </select>

                </div>
            </div>


            <div class="form-group">
                <div class="container py-1">
                    <label for="firstname"><strong>Primer Nombre</strong></label>
                    <div class="input-group">
                        <input type="text" id="firstname" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="container py-1">
                    <label for="sname"><strong>Segundo Nombre</strong></label>
                    <div class="input-group">
                        <input type="text" id="sname" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="container py-1">
                    <label for="lastname"><strong>Primer Apellido</strong></label>
                    <div class="input-group">
                        <input type="text" id="lastname" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="container py-1">
                    <label for="slastname"><strong>Segundo Apellido</strong></label>
                    <div class="input-group">
                        <input type="text" id="slastname" class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="container py-1">
                    <label for="colaboratorid"><strong>Su código de colaborador</strong></label>
                    <div class="input-group">
                        <input type="text" id="colaboratorid" class="form-control">
                    </div>
                </div>
            </div>
            

            <div class="form-group">
                <div class="container py-1">
                    <label for="today"><strong>Fecha de hoy:</strong></label>
                    <div class="input-group">
                        <input type="date" id="today" class="form-control">
                    </div>
                </div>
            </div>
                        
            <div class="my-2 text-center">
                <button class="btn btn-lg btn-submit text-uppercase align-center" type="submit">CONTINUAR</button>
            </div>            
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class ="my-5 text-center">
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
