
<header>
    <div class="container py-3">
        <div class="col-4 mx-auto">

            <h5>Datos Personales</h5>
            <p>
            Por favor complete los siguientes datos. Si
            algún dato no aplica por favor deje en blanco
            la casilla.
            </p>
        </div>
    </div>
</header>

<body>
    <div class="col-12 mx-auto">


        <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
                <div class="card card-signin">
                  <div class="card-body">




        <form class="form-signin">

            <div class="form-group">
                <div class="container py-1">
                    <label for="firstname"><strong>Primer Nombre</strong></label>
                    <div class="input-group">
                        <input type="text" id="firstname" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="container py-1">
                    <label for="sname"><strong>Segundo Nombre</strong></label>
                    <div class="input-group">
                        <input type="text" id="sname" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="container py-1">
                    <label for="lastname"><strong>Primer Apellido</strong></label>
                    <div class="input-group">
                        <input type="text" id="lastname" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="container py-1">
                    <label for="slastname"><strong>Segundo Apellido</strong></label>
                    <div class="input-group">
                        <input type="text" id="slastname" class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="container py-1">
                    <label for="colaboratorid"><strong>Su código de colaborador</strong></label>
                    <div class="input-group">
                        <input type="text" id="colaboratorid" class="form-control">
                    </div>
                </div>
            </div>
            

            <div class="form-group">
                <div class="container py-1">
                    <label for="today"><strong>Fecha de hoy:</strong></label>
                    <div class="input-group">
                        <input type="date" id="today" class="form-control">
                    </div>
                </div>
            </div>
                        
            <div class="my-2 text-center">
                <button class="btn btn-lg btn-submit text-uppercase align-center" type="submit">CONTINUAR</button>
            </div>            
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class ="my-5 text-center">
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
