<body>
    <div class="container">
    <div class="col-4 mx-auto">
        <h3>Instrucciones</h3>
        <p></p>
        <h5>Para las siguientes secciones:</h5>
        <p></p>
        <h5>1. Cuando se presenten preguntas con</h5>
        <h5>opciones de respuesta, por favor marque</h5>
        <h5>con una "X" el número de la respuesta</h5>
        <h5>correcta, esta puede ser respuesta única o</h5>
        <h5>múltiple</h5>
        <p></p>
        <h5>2. Cuando se presenten preguntas sin</h5>
        <h5>opciones de respuesta, por favor escriba la</h5>
        <h5>respuesta correcta</h5>
    </div>
    <div class="my-2 text-center">
        <button class="btn btn-lg btn-submit text-uppercase align-center" type="submit">CONTINUAR</button>
    </div> 
    </div>
</body>
