
<header>
    <div class="container py-1">
        <div class="col-4 mx-auto text-center">

            <h5>Tu Nivel de Escolaridad</h5>
           
        </div>
    </div>
</header>

<body>
    <form>
    <div class="col-12 mx-auto">
        <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
                <div class="card card-signin">
                  <div class="card-body">

            <div class="form-group">
                <div class="container py-1">
                    <small>¿Cuál fué el último grado escolar que cursó?</small>
                    <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                            Primaria
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                            Secundaria
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                            Diversificado
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                            Técnico
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                            Primaria
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                            Secundaria
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                            Diversificado
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                            Técnico
                            </label>
                        </div>
                    </div>
                </div>
                </div>
            </div>

   
                        
            <!-- <div class="my-2 text-center">
                <button class="btn btn-lg btn-submit text-uppercase align-center" type="submit">CONTINUAR</button>
            </div>  -->           
        </div>
        </div>

        <div class="card card-signin">
            <div class="card-body">
                <div class="container py-1">
                    <label for="title"><small>¿Cuál fué el título académico que obtuvo?</small></label>
                    <div class="input-group">
                        <input type="text" id="title" class="form-control">
                    </div>
                </div>
            </div>
        </div>


        
    <div class="card card-signin">
        <div class="card-body">

      <div class="form-group">
          <div class="container py-1">
              <small>¿En qué tipo de institución académica estudia actualmente?</small>
              <div class="row">
              <div class="col">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="inst_type" id="inst_type">
                      <label class="form-check-label" for="inst_type">
                      Privada
                      </label>
                  </div>
                  
              </div>
              <div class="col">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="inst_type" id="inst_type">
                      <label class="form-check-label" for="inst_type">
                      Pública
                      </label>
                  </div>
                 
              </div>
          </div>
          </div>
      </div>


                  
      <!-- <div class="my-2 text-center">
          <button class="btn btn-lg btn-submit text-uppercase align-center" type="submit">CONTINUAR</button>
      </div>  -->           
  </div>
  </div>

    <div class="card card-signin">
        <div class="card-body">

            <div class="form-group">
                <div class="container py-1">
                    <small>¿Se encuentra estudiando actualmente?</small>
                    <div class="row">
                        <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="currently_studying" id="currently_studying">
                            <label class="form-check-label" for="currently_studying">
                            Si
                            </label>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="currently_studying" id="currently_studying">
                            <label class="form-check-label" for="currently_studying">
                            No
                            </label>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>              
        
        </div>
    </div>                              


        </div>
        </div>
        </div>
  <div class="my-2 text-center">
      <button class="btn btn-lg btn-submit text-uppercase align-center" type="submit">CONTINUAR</button>
  </div> 
    </div>
</form>
    <div class ="my-5 text-center">
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
