
<header>
    <div class="container py-1">
        <div class="col-4 mx-auto text-center">

            <h5>Hijos</h5>
           
        </div>
    </div>
</header>

<body>
    <form>
    <div class="col-12 mx-auto">
        <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
                <div class="card card-signin">
                  <div class="card-body">

            <div class="form-group">
                <div class="container py-1">
                    <small>¿Tienes hijos?</small>
                    <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="hasoffspring_yes" id="hasoffspring_yes">
                            <label class="form-check-label" for="hasoffspring_yes">
                            Si
                            </label>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="hasoffspring_no" id="hasoffspring_no">
                            <label class="form-check-label" for="hasoffspring_no">
                            No
                            </label>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>

                                                
        </div>
        </div>

        <div class="card card-signin">
            <div class="card-body">
                <div class="container py-1">
                    <label for="offspring_n"><small>¿Cuántos hijos tiene sin importar la edad que tengan y si aún viven con usted o no?</small></label>
                    <div class="input-group">
                        <input type="" id="offspring_n" name="offspring_n" class="form-control">
                    </div>
                </div>
            </div>
        </div>


        



        </div>
        </div>
        </div>
  <div class="my-2 text-center">
      <button class="btn btn-lg btn-submit text-uppercase align-center" type="submit">CONTINUAR</button>
  </div> 
    </div>
    <div class ="my-5 text-center">
        <br>
        <br>
        <br>
        <br>
    </div>
</form>
    <div class ="my-5 text-center">
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
