<header>
  <div class="container py-1">
    <div class="col-4 mx-auto text-center">
      <h5>SALUD EMOCIONAL</h5>
    </div>
  </div>
</header>

<body>
  <form>
    <div class="col-12 mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
            <!--field div-->
            <!-- EM1	¿Realiza alguna actividad recreativa? 
            Marque con una “X” la respuesta que aplique 
            1.	Sí	CONTINÚE	2.	No	PASE A MU1  -->

            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small>¿Realiza alguna actividad recreativa? </small>
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="EM1"
                            id="EM1"
                          />
                          <label class="form-check-label" for="EM1"> Si </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="EM1"
                            id="EM1"
                          />
                          <label class="form-check-label" for="EM1"> No </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- EM2 ¿Qué tipo de actividad recreativa lleva a cabo? ¿Con quiénes
            suele llevar a cabo sus actividades recreativas? ¿Con qué frecuencia
            lleva a cabo sus actividades recreativas? Marque todas las
            actividades recreativas que apliquen, con quiénes las realiza y con
            qué frecuencia las realiza -->
            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <div class="table-responsive">
                      <table class="table table-sm table-striped">
                        <!-- <caption>
                  Footer note
                </caption> -->
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"><small>Solo</small></th>
                            <th scope="col"><small>En Familia</small></th>
                            <th scope="col"><small>Con amigos</small></th>
                            <th scope="col"><small>Otro</small></th>
                            <th scope="col">
                              <small>Mas de una vez a la semana</small>
                            </th>
                            <th scope="col">
                              <small>Una una vez a la semana</small>
                            </th>
                            <th scope="col">
                              <small>Dos veces a la semana</small>
                            </th>
                            <th scope="col"><small>Una vez al mes</small></th>
                            <th scope="col">
                              <small>Ocasionalmente (1 -3 veces al año)</small>
                            </th>
                            <th scope="col"><small>Una vez al año</small></th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          <tr>
                            <th scope="row"></th>
                            <td>Ir al cine</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-1"
                                  id="EM12-1"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-2"
                                  id="EM12-2"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-3"
                                  id="EM12-3"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-4"
                                  id="EM12-4"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-5"
                                  id="EM12-5"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-6"
                                  id="EM12-6"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-7"
                                  id="EM12-7"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-8"
                                  id="EM12-8"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-9"
                                  id="EM12-9"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-10"
                                  id="EM12-10"
                                  value="1"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row"></th>
                            <td>Ir a un parque</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-1"
                                  id="EM12-1"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-2"
                                  id="EM12-2"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-3"
                                  id="EM12-3"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-4"
                                  id="EM12-4"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-5"
                                  id="EM12-5"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-6"
                                  id="EM12-6"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-7"
                                  id="EM12-7"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-8"
                                  id="EM12-8"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-9"
                                  id="EM12-9"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-10"
                                  id="EM12-10"
                                  value="1"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row"></th>
                            <td>Ir de paso al interior del país</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-1"
                                  id="EM12-1"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-2"
                                  id="EM12-2"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-3"
                                  id="EM12-3"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-4"
                                  id="EM12-4"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-5"
                                  id="EM12-5"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-6"
                                  id="EM12-6"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-7"
                                  id="EM12-7"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-8"
                                  id="EM12-8"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-9"
                                  id="EM12-9"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-10"
                                  id="EM12-10"
                                  value="1"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row"></th>
                            <td>Ir a un Centro Comercial</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-1"
                                  id="EM12-1"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-2"
                                  id="EM12-2"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-3"
                                  id="EM12-3"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-4"
                                  id="EM12-4"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-5"
                                  id="EM12-5"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-6"
                                  id="EM12-6"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-7"
                                  id="EM12-7"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-8"
                                  id="EM12-8"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-9"
                                  id="EM12-9"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-10"
                                  id="EM12-10"
                                  value="1"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row"></th>
                            <td>Ir a comer</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-1"
                                  id="EM12-1"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-2"
                                  id="EM12-2"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-3"
                                  id="EM12-3"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-4"
                                  id="EM12-4"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-5"
                                  id="EM12-5"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-6"
                                  id="EM12-6"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-7"
                                  id="EM12-7"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-8"
                                  id="EM12-8"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-9"
                                  id="EM12-9"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-10"
                                  id="EM12-10"
                                  value="1"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row"></th>
                            <td>Ir de paseo fuera del país</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-1"
                                  id="EM12-1"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-2"
                                  id="EM12-2"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-3"
                                  id="EM12-3"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-4"
                                  id="EM12-4"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-5"
                                  id="EM12-5"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-6"
                                  id="EM12-6"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-7"
                                  id="EM12-7"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-8"
                                  id="EM12-8"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-9"
                                  id="EM12-9"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-10"
                                  id="EM12-10"
                                  value="1"
                                />
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row"></th>
                            <td>Otros</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-1"
                                  id="EM12-1"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-2"
                                  id="EM12-2"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-3"
                                  id="EM12-3"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-4"
                                  id="EM12-4"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-5"
                                  id="EM12-5"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-6"
                                  id="EM12-6"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-7"
                                  id="EM12-7"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-8"
                                  id="EM12-8"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-9"
                                  id="EM12-9"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-10"
                                  id="EM12-10"
                                  value="1"
                                />
                              </div>
                            </td>
                          </tr>

                          

                          <tr>
                            <th scope="row"></th>
                            <td>Otros</td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-1"
                                  id="EM12-1"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-2"
                                  id="EM12-2"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-3"
                                  id="EM12-3"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-4"
                                  id="EM12-4"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-5"
                                  id="EM12-5"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-6"
                                  id="EM12-6"
                                  value="1"
                                />
                              </div>
                            </td>
                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-7"
                                  id="EM12-7"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-8"
                                  id="EM12-8"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-9"
                                  id="EM12-9"
                                  value="1"
                                />
                              </div>
                            </td>

                            <td>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="EM12-10"
                                  id="EM12-10"
                                  value="1"
                                />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 text-center">
      <button
        class="btn btn-lg btn-submit text-uppercase align-center"
        type="submit"
      >
        CONTINUAR
      </button>
    </div>
  </form>
  <div>
    <br />
    <br />
    <br />
    <br />
  </div>
</body>
