<header>
  <div class="container py-1">
    <div class="col-4 mx-auto text-center">
      <h5>Actitudes</h5>
    </div>
  </div>
</header>

<body>
  <form>
    <div class="col-12 mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
            <!--field div-->
            <!-- ACTITUDES AC1 Evaluando su situación económica actual, ¿Cuál de las siguientes
frases la describe mejor? Marque con una “X” la respuesta que aplique 1. Estoy
muy bien económicamente 2. Estoy bien económicamente, pero podría mejorar 3.
Estoy bien económicamente, pero corro el riesgo de empeorar 4. Tengo algunos
problemas económicos, pero puedo solventarlos 5. Tengo algunos problemas
económicos y no tengo cómo solventarlos 6. Tengo muchos problemas económicos,
pero puedo solventarlos 7. Tengo muchos problemas económicos y no tengo cómo
solventarlos 8. Estoy en crisis económicamente y necesito ayuda -->

            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >Evaluando su situación económica actual, ¿Cuál de las siguientes
                      frases la describe mejor?<br />
                      Marque la respuesta que aplique</small
                    >
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="1"
                          />
                          <label class="form-check-label" for="SG5">
                            Estoy muy bien económicamente
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="2"
                          />
                          <label class="form-check-label" for="SG5">
                            Estoy bien económicamente, pero podría mejorar
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="3"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Estoy bien económicamente, pero corro el riesgo de empeorar
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="4"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Tengo algunos problemas económicos, pero puedo solventarlos
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="5"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Tengo muchos problemas económicos y no tengo cómo solventarlos
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="6"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Tengo muchos problemas económicos y no tengo cómo solventarlos
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="6"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Estoy en crisis económicamente y necesito ayuda
                          </label>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <!-- field div -->

            <!-- AC2 Del
siguiente listado de posibles detonantes para su situación económica actual,
seleccione aquellos que considera le han llevado a donde se encuentra en este
momento. Marque todos los que apliquen 1. Solamente yo aporto a la economía del
hogar 2. Mi esposa trabajaba y ya no 3. Tengo deudas con tarjetas de crédito 4.
Tengo deudas con préstamos (hipotecarios y/o fiduciarios) 5. Tengo deudas por
haber sido fiador o codeudor 6. Tengo deudas con prestamistas 7. Estuve mucho
tiempo sin trabajo y no he podido recuperarme 8. Tengo un familiar enfermo que
implica muchos gastos 9. He tenido que hacerme cargo económicamente de mis papás
o algún otro familiar 10. Presté un dinero y no me han pagado 11. Tuve una
emergencia familiar que implicó muchos gastos 12. Otros (especifique) 13.
Ninguno, estoy muy bien económicamente -->

            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >Del siguiente listado de posibles detonantes para su situación económica actual,
                      seleccione aquellos que considera le han llevado a donde se encuentra en este
                      momento. Marque todos los que apliquen<br />
                      </small
                    > 
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="1"
                          />
                          <label class="form-check-label" for="SG5">
                            Solamente yo aporto a la economía del hogar
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="2"
                          />
                          <label class="form-check-label" for="SG5">
                            Mi esposa trabajaba y ya no
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="3"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Tengo deudas con tarjetas de crédito
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="4"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Tengo deudas con préstamos (hipotecarios y/o fiduciarios)
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="5"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Tengo deudas por haber sido fiador o codedcor
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="6"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Tengo deudas con prestamistas
                          </label>
                        </div>
                      </div>

                      <div class="col">

                        <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="7"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                              Estuve mucho tiempo sin trabajo y no he podido recuperarme
                            </label>
                          </div>

                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="8"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Tengo un familiar enfermo que implica muchos gastos
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="9"                           
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            He tenido que hacerme cargo económicamente de mis papás o algún otro familiar
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="10"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Presté un dinero y no me han pagado
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="10"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Tuve una emergencia familiar que implicó muchos gastos
                          </label>
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="11"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Otros (Especifique)
                          </label>
                        </div>
                        <div class="form-input-text">
                          <input
                            type="text"
                            id="SG5O"
                            name="SG50"
                            class="form-control-sm"
                          />
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="11"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                              Ninguno, estoy muy bien económicamente.
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- field div -->
            <!-- AC3 Del siguiente listado de posibles soluciones para su situación económica, 
            ¿Cuáles considera que podrían ayudarle a solventar sus problemas económicos? Marque con una “X” todas las respuestas que
            apliquen 1. Tener un segundo ingreso a través de un segundo trabajo 2. Tener un
            segundo ingreso a través de un negocio 3. Que alguien más aporte a la economía
            del hogar 4. Que mi esposa trabaje nuevamente 5. Consolidar mis deudas a través
            de un préstamo bancario 6. Consolidar mis deudas a través de un préstamo en la
            empresa 7. Trabajar horas extras 8. Otros (especifique) 9. Ninguno, estoy muy
            bien económicamente -->


            <div class="card card-signin">
              <div class="card-body">
                <div class="form-group">
                  <div class="container py-1">
                    <small
                      >Del siguiente listado de posibles soluciones para su situación económica. 
                      ¿Cuáles considera que podrían ayudarle a solventar sus problemas económicos? Marque todas las respuestas que
                      apliquen<br />
                      </small
                    > 
                    <div class="row">
                      <div class="col">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="1"
                          />
                          <label class="form-check-label" for="SG5">
                            Tener un segundo ingreso a través de un segundo trabajo
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="2"
                          />
                          <label class="form-check-label" for="SG5">
                            Tener un segundo ingreso a través de un negocio
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="3"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Que alguien más aporte a la economía del hogar
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="4"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Que mi esposa trabaje nuevamente
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="5"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Consolidar mis deudas a través de un préstamo bancario
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="6"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                          Consolidar mis deudas a través de un préstamo en la empresa
                          </label>
                        </div>
                      </div>

                      <div class="col">

                        <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="7"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                            Trabajar horas extras
                            </label>
                          </div>
                      </div>

                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="SG5"
                            id="SG5"
                            value="11"
                          />
                          <label
                            class="form-check-label"
                            for="SG5"
                          >
                            Otros (Especifique)
                          </label>
                        </div>
                        <div class="form-input-text">
                          <input
                            type="text"
                            id="SG5O"
                            name="SG50"
                            class="form-control-sm"
                          />
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="11"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                              Ninguno, estoy muy bien económicamente.
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- field div -->
            <!-- AC4 ¿Qué considera que podría ayudarle a alcanzar las
soluciones que seleccionó? Marque con una “X” todas las respuestas que apliquen
1. Capacitarme o aprender un oficio nuevo 2. Que mi esposa se capacite o aprenda
un oficio nuevo 3. Apoyo para conseguir un ingreso adicional 4. Apoyo para que
mi esposa pueda conseguir trabajo 5. Apoyo para que otro familiar pueda
conseguir trabajo 6. Otros (especifique) 7. Ninguno, estoy muy bien
económicamente -->

<div class="card card-signin">
  <div class="card-body">
    <div class="form-group">
      <div class="container py-1">
        <small
          >¿Qué considera que podría ayudarle a alcanzar las soluciones que seleccionó? Marque las respuestas que apliquen<br />
          </small
        >
        <div class="row">
          <div class="col">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="SG5"
                id="SG5"
                value="1"
              />
              <label class="form-check-label" for="SG5">
                Capacitarme o aprender un oficio nuevo
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="SG5"
                id="SG5"
                value="2"
              />
              <label class="form-check-label" for="SG5">
                Que mi esposa se capacite o aprenda un oficio nuevo
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="SG5"
                id="SG5"
                value="3"
              />
              <label
                class="form-check-label"
                for="SG5"
              >
              Apoyo para conseguir un ingreso adicional
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="SG5"
                id="SG5"
                value="4"
              />
              <label
                class="form-check-label"
                for="SG5"
              >
              Apoyo para que mi esposa pueda conseguir trabajo
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="SG5"
                id="SG5"
                value="5"
              />
              <label
                class="form-check-label"
                for="SG5"
              >
              Apoyo para que otro familiar pueda conseguir trabajo
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="SG5"
                id="SG5"
                value="6"
              />
              <label
                class="form-check-label"
                for="SG5"
              >
              Otros (especifique)
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="SG5"
                id="SG5"
                value="6"
              />
              <label
                class="form-check-label"
                for="SG5"
              >
              Ninguno, estoy muy bien económicamente
              </label>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


            <!-- field div -->
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 text-center">
      <button
        class="btn btn-lg btn-submit text-uppercase align-center"
        type="submit"
      >
        CONTINUAR
      </button>
    </div>
  </form>
  <div>
    <br />
    <br />
    <br />
    <br />
  </div>
</body>

 
