<header>
    <div class="container py-1">
      <div class="col-4 mx-auto text-center">
        <h5>Actitudes</h5>
      </div>
    </div>
  </header>
  
  <body>
    <form>
      <div class="col-12 mx-auto">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
              <!--field div-->
              <!-- ACTITUDES AC1 Evaluando su situación económica actual, ¿Cuál de las siguientes
  frases la describe mejor? Marque con una “X” la respuesta que aplique 1. Estoy
  muy bien económicamente 2. Estoy bien económicamente, pero podría mejorar 3.
  Estoy bien económicamente, pero corro el riesgo de empeorar 4. Tengo algunos
  problemas económicos, pero puedo solventarlos 5. Tengo algunos problemas
  económicos y no tengo cómo solventarlos 6. Tengo muchos problemas económicos,
  pero puedo solventarlos 7. Tengo muchos problemas económicos y no tengo cómo
  solventarlos 8. Estoy en crisis económicamente y necesito ayuda -->
  
              <div class="card card-signin">
                <div class="card-body">
                  <div class="form-group">
                    <div class="container py-1">
                      <small
                        >¿Qué parentesco tiene esa persona con usted? Marque la respuesta que aplique<br />
                        </small
                      >
                      <div class="row">
                        <div class="col">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="1"
                            />
                            <label class="form-check-label" for="SG5">
                              Estoy muy bien económicamente
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="2"
                            />
                            <label class="form-check-label" for="SG5">
                              Estoy bien económicamente, pero podría mejorar
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="3"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                            Estoy bien económicamente, pero corro el riesgo de empeorar
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="4"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                            Tengo algunos problemas económicos, pero puedo solventarlos
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="5"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                            Tengo muchos problemas económicos y no tengo cómo solventarlos
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="6"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                            Tengo muchos problemas económicos y no tengo cómo solventarlos
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="SG5"
                              id="SG5"
                              value="6"
                            />
                            <label
                              class="form-check-label"
                              for="SG5"
                            >
                            Estoy en crisis económicamente y necesito ayuda
                            </label>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- field div -->
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 text-center">
      <button
        class="btn btn-lg btn-submit text-uppercase align-center"
        type="submit"
      >
        CONTINUAR
      </button>
    </div>
  </form>
  <div>
    <br />
    <br />
    <br />
    <br />
  </div>
</body>
INTEGRANTE DE FAMILIA NO.  	

IF1	¿Qué parentesco tiene esa persona con usted? Marque con una “X” la respuesta que aplique
1.	Padre
7.	Hermano(a)
9.	Abuelo(a)
2.	Madre
8.	Tío(a)
10.	Suegro(a)
3.	Cónyuge
9.	Primo(a)
11.	Cuñado(a)
4.	Hijo(a)
10.	Sobrino(a)
12.	Otro (especifique):

IF2	Ingrese en sexo del integrante de la familia. Marque con una “X” la respuesta que aplique
1.	Hombre	2.	Mujer

IF3	¿Cuántos años tiene el integrante de la familia? Ingrese su respuesta utilizando únicamente números (Ej. 3)

IF4	¿El integrante de la familia depende económicamente de usted? Marque con una “X” la respuesta que aplique
1.	Sí	2.	No

IF5	¿El integrante de la familia sabe leer? Marque con una “X” la respuesta que aplique
1.	Sí	CONTINÚE	2.	No	PASE A IF7	3.	No aplica (menor de 7 años)	PASE A IF7

IF6	¿Cuál es el nivel de lectura del integrante de la familia? Marque con una “X” la respuesta que aplique
1.	Alto	2.	Medio	3.	Bajo IF7	¿El integrante de la familia sabe escribir? Marque con una “X” la respuesta que aplique
1.	Sí	CONTINÚE	2.	No	PASE A IF9	3.	No aplica (menor de 7 años)	PASE A IF9

IF8	¿Cuál es el nivel de escritura del integrante de la familia? Marque con una “X” la respuesta que aplique
1.	Alto	2.	Medio	3.	Bajo

IF9	¿Cuál fue el último grado escolar cursado por el miembro de la familia? Marque con una “X” la respuesta que aplique y escriba el grado exacto
Nivel
Grado
Nivel
Grado
Nivel
Grado
1.	Pre primaria
 	 4.
Diversificado
 	 7.
Maestría
 	
2.	Primaria
 	 5.
Técnico
 	 8.
Doctorado
 	
3.	Básicos
6.
Licenciatura
9.
Ninguno



IF10	¿El integrante de la familia estudia actualmente? Marque con una “X” la respuesta que aplique.
1.	Sí	CONTINÚE	2.	No	PASE A IF12

IF11	¿En qué tipo de institución académica estudia actualmente el integrante de la familia? Marque con una “X” la respuesta
que aplique.
1.	Pública	2.	Privada

IF12	¿Qué grado cursa actualmente el integrante de la familia? Marque con una “X” la respuesta que aplique y escriba el grado exacto
Nivel
Grado
Nivel
Grado
Nivel
Grado
1.	Pre primaria
 	 4.
Diversificado
 	 7.
Maestría
 	
2.	Primaria
 	 5.
Técnico
 	 8.
Doctorado
 	
3.	Básicos
6.
Licenciatura







IF13	¿En que categoría se encuentra actualmente el integrante de su hogar: Marque con una “X” la respuesta que aplique

Empleado
Desempleado
Inactivo (Jubilado)

En caso contesta Empleado desplegar el listado y solicitar marcar con X: 
Sector Público
Sector Privado
Empleado Doméstico
Trabaja por cuenta propia
Empleador
Trabaja para el hogar sin remuneración (Ama de Casa)








